# From our manifest.json for our custom component
sonnen_api_v2>=0.5.13
setuptools~=75.7.0
voluptuous>=0.15.2

# Strictly for tests
pytest
pytest-asyncio
pytest-cov
pytest-mock
coverage>=7.2.1
pytest-homeassistant-custom-component
freezegun~=1.5.1
asyncmock>=0.4.2
requests~=2.32
responses
urllib3_mock
load_dotenv>=0.1.0
tzlocal
