# From our manifest.json for custom component
#sonnen_api_v2>=0.5.15
sonnen_api_v2 @ "git+https://github.com/MarkusBiggus/sonnen_api_v2.git@dev"
tzlocal>=5.2
voluptuous>=0.13.1
# DEV
setuptools~=75.7
# Strictly for tests
pytest
pytest-asyncio
pytest-cov
pytest-mock
coverage>=7.2.1
pytest-homeassistant-custom-component
freezegun~=1.5
asyncmock>=0.4.2
requests~=2.32
responses
urllib3_mock
load_dotenv>=0.1.0
