# From our manifest.json for custom component
#sonnen_api_v2>=0.5.15
#sonnen_api_v2 @ "git+https://github.com/MarkusBiggus/sonnen_api_v2.git@dev"
tzlocal>=5.2
voluptuous>=0.13.1
#setuptools==78.1.1

# DEV
# for HA upgrade: pip install pytest-homeassistant-custom-component --upgrade
# Strictly for tests
asyncmock>=0.4.2
coverage>=7.2.1
freezegun~=1.5.2
load_dotenv>=0.1.0
pytest==8.4.1
pytest-asyncio
#pytest-aiohttp
pytest-cov
pytest-mock
pytest-homeassistant-custom-component
#requests~=2.32
responses
tzlocal
urllib3_mock